<%- include('partials/header.ejs') %>
<body>
    <% for (let i = 0; i < blogs.length; i++) { %>
        <div class="blog-preview">
            <a href="/show-blog/<%= i  %>">
              <h1 class="blog-title"><%= blogs[i].title %></h1>
            </a>
              <h3 class="blog-subtitle"><%= blogs[i].subtitle %></h3>
            <p class="blog-meta">
              posted by
              <a href="#"><%= blogs[i].author %></a>
              on <%= blogs[i].date %>
              <form action="/delete-blog/<%= i %>" method="post" style="display:inline;">
                <button type="submit">✘</button>
            </form>
            </p>
          </div>
          <hr class="my-4" />
        <% } %>
</body>
<%- include('partials/footer.ejs') %>
